@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.wrapper-about{
  font-family: 'Montserrat', sans-serif;
  color:white;
  background: #001220;
}

.column {
  float: left;
  width: 22.3%;
  margin-bottom: 20px;
  padding: 0 8px;
}

.headers
{
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;

}
.ani {
  animation : fade 1s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 10px;
  text-align: center;
  background-color: rgb(29, 28, 30) ;
  color: rgb(223, 226, 231);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after { 
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(238, 240, 244);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(239, 233, 233);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(47, 44, 44);
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.footercointainert{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color:black;
  background:linear-gradient(
    60deg,
    rgba(255,255,255) 0%,
    rgba(0,172,193,1) 100%);
}

