@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.wrapper-about{
  font-family: 'Montserrat', sans-serif;
  color:white;
  background: #001220;
}

.about{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.CIAOAbout{
  margin:50px;
  font-size: 20px;
  text-align: center;
}

.aboutus{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .aboutus{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  }

.headers
{
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;

}

.aboutpg{
  margin:50px;
  display: flex;
  justify-content: center; 
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-cus {
  margin: 8px;
  width:min-content;
  background: linear-gradient(
  135deg,
  rgba(0, 18, 32, 0.4),
  rgba(0, 18, 32, 0.2)
  );
  backdrop-filter: blur(3px);
  transition: 1s;
}

.card-cus:hover {
  transform: scale(1.05);
  transition: 0.75s;
}

.roundedimg {
  width: 200px;
  height:200px;
  object-fit: cover;
  border-radius:50%;
}

.container-cus{
  padding-top:35px;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(239, 233, 233);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(47, 44, 44);
}

.p5Link {
  text-decoration: none;
  color: rgb(127, 32, 168);
}


/*

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.footercointainert{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color:black;
  background:linear-gradient(
    60deg,
    rgba(255,255,255) 0%,
    rgba(0,172,193,1) 100%);
} */

