
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.wrapper-image{
  background-image: url("../assets/backgrounds/template-page.svg");
  background-size: cover;
}

.upload{
  font-size: 20px;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(36, 243, 147);
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
 }
  
.image-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.03);
}

.output{
  margin: 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.animated-grid {
  padding: 0;
  margin: 10px;
  height: 85vh;
  margin-bottom: 150px;

  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    'a  b  c  d  g'
    'a  e  c  f  g'
    'a  e  i  j  j'
    'k  h  l  l  l'
    'm  m  l  l  l';

  grid-template-rows: repeat(5, 20%);
  grid-template-columns: auto auto auto auto auto;

  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.image-card {
  background-color: rgb(36, 243, 147);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.image-card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/circles.jpg')

.image-card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Imagenoise.jpg')
}
.image-card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Posterize.jpg')
}
.image-card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Collage.jpg')

}
.image-card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Imageglow.jpg')

}
.image-card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/RgbTranslate.jpg')

}
.image-card:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Imagedots.jpg')

}
.image-card:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Threshold.jpg')

}
.image-card:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Imagelines.jpg')

}
.image-card:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Collage2.jpg')

}
.image-card:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Asciiart.jpg')

}
.image-card:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/Invert.jpg')

}
.image-card:last-child {
  grid-area: m;
  animation-delay: calc(13 * var(--stagger-delay));
  background-image:url('../assets/artfromimage/SwapRB.jpg')

}