@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.main-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 20px;
  /* justify-content: space-evenly; */
}

/* @media (max-width: 1200px) {
  /* .main-area{
    justify-content: center;
  } 

  .descriptionbar {
    background-color: #001220;
    padding: 0;
    margin-bottom : 15px ;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/backgrounds/description-bar.svg);
    background-repeat: no-repeat;
  }
  } */



.main-art {
  margin: 0px 20px 20px 20px;
  border: 1px solid #7b2cbf;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  height: max-content;
  overflow-x: auto;
}

.menu {
  position: absolute;
  top: 60%;
  right: 2%;
}

.fields {
  display: flex;
  gap: 20px;
  color: purple
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-secondary: #141418;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.editrow1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.containerrrrr {
  background-image: url(../assets/backgrounds/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: white;
}



/* .descriptionbar:hover {
  width: 21rem;
  background-image: none;
  background-color: #7b2cbf;
} */

.description-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}

.description-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
  margin: 1rem;
  text-align: justify;
}

.description-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #c77dff;
}

.fa-secondary {
  color: #7b2cbf;
}

.fa-primary,
.fa-secondary {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.descriptionbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Large screens */
/* @media only screen and (min-width: 600px) { */
.descriptionbar {
  background-color: #001220;
  transition: width 1.5s ease;
  padding: 0;
  margin-bottom: 15px;
  top: 0;
  width: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/backgrounds/description-bar.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .descriptionbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.descriptionbar:hover {
  width: 21rem;
  background-image: none;
  background-color: #7b2cbf;
}

.descriptionbar:hover .link-text {
  display: inline;
}

.descriptionbar:hover .logo svg {
  margin-left: 2rem;
}

.descriptionbar:hover .logo-text {
  left: 0px;
}


.flip {
  transform: rotate(180deg);
}

.header-title {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.editor {
  display: flex;
  height: 100%;
  margin-left: 2rem;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 400px;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  color: #7b2cbf;
  font-weight: bold;
}