@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.homepage{
    font-family: 'Inter', sans-serif;
}

.top-page {
    background-color: #4d4ae8;
    padding: 4.5rem;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.main-page-left , .main-page-right{
    position: relative;
    padding: 4.5rem;
    height: 100%;
}

.shape, .shape2{ 
    position: absolute;
    height: 125px;
    width: 125px;
    top: .5rem;
    left: .5rem;
    background-color: rgb(27, 24, 24);
    border-radius: 50%;
}

.divi {
    width: 400px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(38, 31, 47, 0.5);
    --webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.divi-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: black;
}

p, a {
    font-size: 1rem;
}

a {
    color: #4d4ae8;
    text-decoration: none;
}

.bottom-page{
    background-color: blueviolet;
    padding-top:25px;
}

.quote{
    text-align: center;
}

.services{
    display:grid;
    row-gap: 15px;
    grid-template-columns: 500px 500px;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.service1{
    position: relative;
    background-color: rgb(49, 47, 47);
    opacity: 0.5;
    height:250px;
    margin: 15px;
    padding:15px;
    border-radius: 15px;
    color:black;
}

.text{
    position: absolute ;
    bottom: 25px;
    right:25px;
    background-color: black;
    padding:5px 25px;
    border-radius: 5px;
}