@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

#wrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: white;
  background: #001220;
}

.headers {
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ani {
  animation: fade 1s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-1 {
  width: 300px;
  height: 50px;
  color: white;
  border: none;
  background-color: #10002b;
  border-radius: 4px;
  letter-spacing: 4px;
  box-shadow: inset 0 0 0 0 #e0aaff;
  transition: ease-out 0.3s;
  font-size: 2 rem;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #e0aaff;
}

/* section{
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100px;
  padding: 60px 20vw;
} */


.second-div-start {
  text-align: center;
  width: 100%;
  background: #001220;
  margin-top: 30px;
}

/* 
.template-descp {
  top:0px;
  background-color: #001220;
  padding: 4.5rem;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
} */

.template-descp {
  background-color: #001220;
  display: flex;
  margin: 50px;
  justify-content: space-between;
  flex-wrap: nowrap;
}


@media (max-width: 1003.1px) {

  .template-descp {
    flex-wrap: wrap;
  }

  .main-page-left,
  .main-page-right {
    flex: 50%;
  }
}

.main-page-left,
.main-page-right {
  position: relative;
  padding: 4.5rem;
}


.shape,
.shape2 {
  position: absolute;
  height: 125px;
  width: 125px;
  top: .3rem;
  left: .5rem;
  background-color: rgb(73, 15, 112);
  border-radius: 50%;
  transition: 1s;
}

.shape-text {
  position: relative;
  left: 15px;
  top: 30px;
}

.shape:hover,
.shape2:hover {
  transform: scale(1.05);
  transition: 1s;
}

.divi {
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(38, 31, 47, 0.5);
  --webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.divi-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  color: rgb(131, 130, 157);
}


.bottom-page {
  /* margin: 50px 50px 150px 50px; */
  padding-top: 25px;
  display: grid;
  row-gap: 35px;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.quote {
  text-align: center;
}

.services {
  position: relative;
  background-color: rgb(49, 47, 47);
  opacity: 0.5;
  height: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  color: white;
}

.serv1 {
  background-image: url("https://i.pinimg.com/originals/ae/96/f7/ae96f79588b0a8af9f2db2b94782e295.png");
}

.serv1 {
  background-image: url("https://i.pinimg.com/originals/ae/96/f7/ae96f79588b0a8af9f2db2b94782e295.png");
}

.serv1 {
  background-image: url("https://i.pinimg.com/originals/ae/96/f7/ae96f79588b0a8af9f2db2b94782e295.png");
}

.serv1 {
  background-image: url("https://i.pinimg.com/originals/ae/96/f7/ae96f79588b0a8af9f2db2b94782e295.png");
}

.tryitout1, .tryitout2, .tryitout3, .tryitout4 {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: black;
  padding: 5px 25px;
  border-radius: 5px;
  color: white;
  transition: 500ms linear;
  opacity: 0.8;
}

.tryitout1:hover, .tryitout2:hover, .tryitout3:hover, .tryitout4:hover {
  opacity: 1;
  transition: 500ms linear;
}

.tryitout1::after{
  content: 'Perlin Noise';
}

.tryitout1:hover::after, .tryitout2:hover::after, .tryitout3:hover::after, .tryitout4:hover::after{
  content: 'Try it out';
}

.tryitout2::after{
  content: 'Mandala';
}

.tryitout3::after{
  content: 'Grid';
}

.tryitout4::after{
  content: 'Flower 3D';
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: white;
  display: flex;
  gap: 12px;
}

.subtitle {
  font-size: 20px;
  margin:25px;
  text-align: center;
}

.purple {
  background: #7b2cbf;
}


.spacer {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../assets/backgrounds/layered-waves-haikei.svg")
}

.flip {
  transform: rotate(180deg);
}

.footer-custom {
  margin-top: 50px;
}


.icons-custom {
  position: relative;
  padding: 15px;
  top: 0;
  left: 0;
}