@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.landingpage-div{
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    height:100vh;
}

header{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    padding:80px;
}


li,a,.text,h3{
    color:beige;
}

.text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maintext{
    margin:50px;
}

.main-text{
    color: rgb(117, 0, 153);
}

.signin{
    background-color: rgb(117, 0, 153);
    border: 1px solid rgb(117, 0, 153);
    border-radius: 10px;
    text-decoration: none;
    padding:9px 25px;
    font-weight: bold;
    margin-top:30px;
}

.signin:hover{
    color: rgb(117, 0, 153);
    background-color: rgb(86, 85, 85);
    border: 1px solid rgb(117, 0, 153);
    cursor: pointer;
}

.ciaoimg{
    height: 280px;
    width: 520px;
}

.logos{
    position: relative;
    bottom: 0;
    top:100px;
}

.links-list{
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    color: white;
}

.logos ul{
    list-style: none;
}

.logos ul li{
    display:inline-block;
}

.logos ul li img{
    max-width: 30px;
    max-height: 30px;
}

#fb, #insta , #tw{
    margin:0px 25px 0px 25px;
}

#tw{
    width:auto;
    height:auto;
}

@media (max-width: 991.5px) {
    .main-text{
        width:65%;
    }

    .image{
        width:35%;
    }
}




/* footer{
    width:100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color:#fff;
    padding: 3px 05 05 px;
    border-top-left-radius: 125px;
    font-size: 10px;
    line-height: 10px;
} */
/* .row{
    width:85% ;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

} 
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis:15%;
}
.logo{
    width:120px;
    margin-bottom: 10px;
}
.colh3{
    width:fit-content;
    margin: bottom 40px;
    position: relative;
} */
/* .email-id{
    width:fit-content;
    border-bottom:1px solid #ccc;
    margin: 20px 0;
} */
/* ul li a{
    text-decoration: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid#ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
@media(max-width:700px){
    footer{
        bottom:unset;
    }
    .col{
        flex-basis: 100%;
        
    }
    .col:nth-child(2),.col:nth-child(3){
        flex-basis:100%;
    }
} */
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(42, 5, 59);
    color: white;
    font-size: 30px;
    padding: 18px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }