@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.landingpage-div{
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    height:100%;
    width:100%;
}

header{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    padding:80px;
}


li,a,.text,h3{
    color:beige;
}

.text{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer{
    width:auto;

}

.maintext{
    margin:50px;
}

.TextArea{
    color: rgb(117, 0, 153);
}

.image{
    position: relative;
}

.ciaoimg{
    max-height: 280px;
    max-width: 520px;
    /* height: auto; 
    width: auto;  */
}

.signin{
    background-color: rgb(117, 0, 153);
    border: 1px solid rgb(117, 0, 153);
    border-radius: 10px;
    text-decoration: none;
    padding:9px 25px;
    font-weight: bold;
    margin-top:30px;
}

.signin:hover{
    color: rgb(117, 0, 153);
    background-color: rgb(86, 85, 85);
    border: 1px solid rgb(117, 0, 153);
    cursor: pointer;
}


.logos{
    position: relative;
    bottom: 0;
    top:100px;
}

.links-list{
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    color: white;
}

.logos ul{
    list-style: none;
}

.logos ul li{
    display:inline-block;
}

.logos ul li img{
    max-width: 30px;
    max-height: 30px;
}

#fb, #insta , #tw{
    margin:0px 25px 0px 25px;
}

#tw{
    width:auto;
    height:auto;
}

.copyright{
    text-align: center;
}

@media (max-width: 991.5px) {
    .landingpage-div{
        font-family: 'Roboto', sans-serif;
        background-color: #121212;
        height:auto;
    }
}



