.navbar-custom {
  background-color: rgb(53, 52, 52);
  color: rgb(136, 136, 136);
}

.navbar-custom:hover {
  background-color: rgb(53, 52, 52);
  cursor: pointer;
}

.navbar-title {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  color: black;
  font-size: 20px;
  padding: 15px;
}

.search-box {
  background-color: rgb(51, 50, 50);
  border: 1px solid black;
}


.search-box:focus {
  background-color: rgb(86, 85, 85);
  border: 1px solid black;
}

.search-btn {
  border-radius: 5px;
  padding: 0px 20px;
  border: 1px solid rgb(90, 25, 119);
  color: rgb(90, 25, 119);
  background-color: rgb(128, 128, 128);

}

.search-btn:hover {
  background-color: rgb(90, 25, 119);
  color: white;
}



#Profile-btn {
  padding: 0px 15px 0px 15px;
}

.custom-toggler.navbar-toggler {
  border: 2px solid rgb(90, 25, 119);
  color: rgb(90, 25, 119);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(90, 25, 119)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 991.5px) {
  #Profile-btn {
    padding: 15px 0px 0px 0px;
  }

}