
.input-field {
  max-width: 380px;
  width: 500px;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
} 

i {
  color: #acacac;
  position: absolute;
  top:24px;
  left:15px;
  z-index:1;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: #7b2cbf;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #c77dff;
}


.container-si{
  background: linear-gradient(
    135deg,
    rgba(0,18,32,0.4),
    rgba(0,18,32,0.2)
  );
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 400px;
  position: absolute;
  left: 55%;
  top: 30%;
}

.container-su{
  background: linear-gradient(
    135deg,
    rgba(0,18,32,0.4),
    rgba(0,18,32,0.2)
  );
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 700px;
  position: absolute;
  left: 55%;
  top: 10%;
}

.illus1{
  margin-bottom: 80px;
  width: 400px;
  height: 400px;
}

.signuppannel{
  position: absolute;
  border: 1px solid rgba(255,255,255, 0.2);
  background: linear-gradient(
    135deg,
    rgba(0,18,32,0.4),
    rgba(0,18,32,0.2)
  );
  backdrop-filter: blur(2px);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  width: 500px;
  margin: 20px;
  bottom: 0;

}

.signin-link{
  width: 150px;
  background-color: #7b2cbf;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}

.signin-link:hover {
  background-color: #c77dff;
}

.sstitle{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}