.templatecards {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    background-image: url(../assets/backgrounds/blob-scene-haikei.svg);
    background-size: cover;
}



