.templatecards {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    margin-top: 50px;
}

.wrapper-template{
    background-image: url("../assets/backgrounds/template-page.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

html, body {
    width: 100%;
    height: 100%;
  }

.filter{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    right: 0;
}