.others{
  display: flex;
}

h5{
  margin-top: 5px;
}

.btn-start{
  border-radius: 20px;
  border: none;
  background-color: #7b2cbf;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn-start:hover {
  background-color: #c77dff;
}
.card {
  margin: 25px;
  background: linear-gradient(
  135deg,
  rgba(0, 18, 32, 0.4),
  rgba(0, 18, 32, 0.2)
  );
  backdrop-filter: blur(3px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s;
  border-radius: 10px;
  border: 1px solid white;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.75s;
}

.card::after {
  transition-delay: 250ms;
}

.dropdown-divider{
  border-top: 1px solid red;
  background-color: #001220;
}

.card-img-top{
  border-radius: 10px 10px 0 0;
}

.card-title{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}