.wrapper-yourarts{
  background-image: url("../assets/backgrounds/template-page.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.SavedDiv{
  height: auto;
}

.UnsavedDiv{
  height: 100vh;
}