.wrapper-yourarts{
  background-image: url("../assets/backgrounds/template-page.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.SavedDiv{
  height: 125vh;
}

.UnsavedDiv{
  height: 100vh;

}

.savedarts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.yohohamroslider{
  margin: 30px;
}

.yourartsdel{
  width: 100%;
  display: flex;
  justify-content: center;
}

.unsaved-text{
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}